.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align:auto;
    width: 50%;
}

.MuiButton-root {
    width: 20vw;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.MuiButton-root .descobreCep {
    width: 1vw;
    margin-left: 2.5px;
    margin-right: 2.5px;
}